@import "bootstrap";

.container {
  margin-top: 20px;
}

.article-title {
  font-size: 2.5em;
}

.article-body {
  color: #2196F3;
}

.article-detail {
  margin-top: 20px;
  color: #0000ff;
}

.article-detail-title {
  font-size: 3em;
  margin-bottom: 40px;
}

.article-show-body {
  font-size: 1.5em;
  padding-left: 0em;
  margin-top: 15px;
}

.edit-delete {
  margin-top: 20px;
}

form .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#error_explanation {
  color: var(--danger);
  padding: 10px;
  border-radius: 5px;
  background: #dc354591;
  margin-bottom: 15px;
}

#error_explanation h2 {
  font-size: 18px;
}

#error_explanation ul li {
  font-size: 14px;
}

